{% for label, messages in app.flashes%}
    <div class="container mt-5">
        <div class="flash-container alert alert-{{ label }}">
            {% for message in messages %}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p class="text-center">{{ message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}