<a id="back-to-top" href="#" class="mt-5 btn btn-light btn-lg" role="button"><i class="fas fa-chevron-up"></i></a>
<footer class="bg-dark pt-2 text-center">
    <p class="text-white"> © 2020 - <span class=" font-weight-bold">iT BigBoss</span> Walid</p>
</footer>