<nav class="navbar navbar-expand-lg navbar-light bg-warning">

    <a class="navbar-brand font-weight-bold" href="#">J.S. Snowboard Trick</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="ml-5 mr-5 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'home' %} active {% endif %}" href="{{ path('blog.home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'show' %} active {% endif %}"  href="#">Tricks <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active {% endif %}" href=""><span class="sr-only">(current)</span>Login</a>
            </li>
            <li class="nav-item {% if current_menu is defined and current_menu == 'register' %}active {% endif %}">
                <a class="nav-link" href=""><span class="sr-only">(current)</span>Register</a>
            </li>
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes%}
    <div class="container mt-5">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}