<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <a id="load" href="{{ route~'#load' }}" class="py-2 btn btn-warning js-load mt-5 d-flex justify-content-center">
            Charger la page <span class="ml-1 js-label">{{ page }}</span>/{{ pages }}
        </a>
    </div>
</div>