{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>
            {% if editMode %}
                Créer
            {% else %}
                Modifier
            {% endif %}
             une figure
        </h1>
        {{ form_start(formTrick) }}

        {{  form_widget(formTrick) }}

            <button type="submit" class="btn btn-success">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Ajouter
                {% endif %}
            </button>
        {{ form_end(formTrick) }}
    </div>

{% endblock %}

