{% extends 'emails/notification.html.twig' %}

{% block body %}

<div class="float:left;">
    <p>Cher utilisateur <span style="color:darkorange">{{ fullName }}</span>,</p>
    <p>Pour réinitialiser le mot de passe de votre compte cliquez sur le boutton en bas.</p>
</div>
<p align="center" >
    <p align="center">
        <a style="line-height:16px;color:white;font-weight:400;text-decoration:none;font-size:16px;display:inline-block;padding:10px 24px;background-color:#ffc107;border-radius:5px;min-width:90px; font-weight: bold" href="{{ url }}">Réinitialiser votre mot de passe</a>
    </p>
    <div style="text-align:center">Merci Groupe SnowTricks</div>
</p>

{% endblock %}