{% extends 'emails/notification.html.twig' %}

{% block body %}
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
    <tr>
        <td style="margin-top: 30%; font-size:0px;padding:10px 25px;word-break:break-word;">
            <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:center;color:#000000;">
                <mj-text align="center"> SnowTricks By Jimmy Sweat </mj-text>
                <div style="margin-left:auto;margin-right:auto;margin-top: 5%;margin-bottom:10%">
                    <img src="https://it-bigboss.de/wp-admin/images/photo/logo.png" alt=""/></div>
                <h1>Bonjour Monsieur {{ user.fullName}}</h1>
                <div  style="font-size:20px;margin-top: 10%;">Pour réinitialiser le mot de passe de votre compte</div>
                <p>
                    <a style="line-height: 16px; color: rgb(255, 255, 255); font-weight: 400; text-decoration: none; font-size: 16px; display: inline-block; padding: 10px 24px; background-color: rgb(65, 132, 243); border-radius: 5px; min-width: 90px;" href="{{ url }}">Cliquez ici</a>
                </p>
            </div>
        </td>
    </tr>
</table>
{% endblock %}