{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }} {% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Jimmy S. Snowboard Tricks</h1>
        <p>loCollectives harvest from attitudes like ancient species.Vox, verpa, et planeta.Fluff seven rhubarbs, squid, and brown sugar in a large pan over medium heat, refrigerate for twelve minutes and jumble with some quinoa.</p>
    </div>

    <div class="container">
        <h2>Tous les Tricks</h2>
        {% if app.user %}
            <a href="{{ path('trick.create') }}" class="mb-5 btn btn-success"><i class="fa fa-plus"> Ajouter nouvelle figure</i></a>
        {% endif %}
    <div class="row flex" id="tricks"></div>
    {% if pagination.pages > 0 %}
        {{ pagination.display() }}
    {#{% else %}#}

    {% endif %}
    </div>

{% endblock %}
{% block javascripts%}
    <script>
        //pagination Comments
        function laodmore(divElt){
            var page = 1
            var incrementPages = $('span.js-label')
            $('a.js-load').on('click', function (e) {
                e.preventDefault();
                var url = this.href;
                console.log(url)
                $.ajax(
                    {
                        url: url,
                        data: {
                            page: page
                        },
                        dataType: "html",
                        beforeSend: function() {
                            incrementPages.text('...')
                        },
                        success: function(data) {
                            divElt.append(data);
                            page++;
                            if (page > {{ pagination.pages }}){
                                e.currentTarget.remove()
                            } else{
                                incrementPages.text(page)
                            }
                        },
                        error: function(e)
                        {
                            alert('Error: ' + e);
                        }
                    }
                );
            })
        }

        $( document ).ready(laodmore($("#tricks")));

    </script>
{% endblock %}
