<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JSST!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="http://fr.allfont.net/allfont.css?fonts=1-vivaldi-bold" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <!--Get Css from webpack-encore-->
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}

        <div class="main-container">
            {% block body %}{% endblock %}
        </div>

        {% include 'partials/_footer.html.twig' %}

        <!--Get Js from webpack-encore-->
        {{  encore_entry_script_tags('app') }}
        <script src="{{ asset('js-biblio/wow.js') }}"></script>

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
