<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- adapt content to different media -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{{ asset('images/slider/icon.ico') }}" />
        <title>{% block title %}JSST!{% endblock %}</title>
        <!--Get Css from webpack-encore-->
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}

        <div class="main-container">
            {% block body %}{% endblock %}
        </div>

        {% include 'partials/_footer.html.twig' %}

        <!--Get Js from webpack-encore-->
        {{  encore_entry_script_tags('app') }}
        <script src="{{ asset('js-lib/wow.js') }}"></script>

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
