<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JSST!{% endblock %}</title>
        <!-- Add icon library -->
        <!--Get Css from webpack-encore-->
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}

        <div class="main-container">
            {% block body %}{% endblock %}
        </div>

        {% include 'partials/_footer.html.twig' %}

        <!--Get Js from webpack-encore-->
        {{  encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
